.gen-label{
    font-family: 'Outfit Medium';
    color: gray
}
.gen-date{
    font-family: 'Outfit Medium';
    font-size: 1em;
    width: 95%;
    height: 2em;
    border-radius: 1em;
}
.gen-popover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .gen-popover-button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Outfit Regular';
    font-size: 1.2em;
  }
  
  .gen-popover-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 20vw;
    height: 15vh;
    z-index: 1;
    border-radius: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .gen-popover.open .gen-popover-content {
    display: flex;
    margin-top: 13em;
    margin-left: 0em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

  .gen-pop-over-button {
    height: 35%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.8em;
  }

  .gen-pop-over-button {
    font-family: 'Outfit Medium';
    font-size: 100%;
    color: #fff;
  }
  
@media screen and (max-width: 1080px){
  .gen-popover-content{
    width: 42vw;
    height: 15vh;
  }
}
@media (prefers-color-scheme: dark) {
  .gen-popover-content {
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(63, 63, 63);
  }
  .gen-date{
    background-color: rgb(30,30,30);
    color: rgb(243, 243, 243);
  }
  .gen-label{
    color: rgb(243, 243, 243);
  }
}