/* Popover.css */
.popover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .popover-button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Outfit Regular';
    font-size: 1.2em;
  }
  
  .popover-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 7vw;
    height: 10vh;
    z-index: 1;
    border-radius: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .popover.open .popover-content {
    display: flex;
    margin-top: 11em;
    margin-left: 0em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

  .pop-over-button {
    height: 45%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.8em;
  }

  .pop-over-button a {
    font-family: 'Outfit Medium';
    font-size: 100%;
  }

  #blue-button {
    background-color: rgb(21, 119, 235);
    /* background: linear-gradient(0deg, rgb(3, 196, 254), rgb(28, 123, 255), rgb(28, 123, 255),rgb(3, 196, 254)); */
  }
  #blue-button a {
    color: #fff;
  }

  #red-button {
    background-color: rgb(214, 58, 58);
    border: 0px;
    /* background: linear-gradient(0deg, rgb(251, 129, 129), rgb(255, 28, 28),rgb(251, 129, 129)); */
    color: white;
    /* font-size: 1em; */
    font-family: 'Outfit Medium';
  }
  #red-button a {
    color: #fff;
  }

  #green-button {
    background-color: #328f2b;
    /* background: linear-gradient(0deg, rgb(33, 177, 83), rgb(14, 115, 49),rgb(33, 177, 83)); */
  }
  #green-button a {
    color: #fff;
  }

  @media screen and (max-width: 1080px){
    .popover-button {
      font-size: 1em
    }
    .popover.open .popover-content {
      margin-top: 7em;
      margin-left: 0em;
    }
    .popover-content {
      width: 20vw;
      height: 7vh;
      padding: 0.3em;
      border-radius: 1em;
    }
    .popover {
      width: 50%;
    }
    .pop-over-button{
      font-size: 0.7em;
      height: 2.5em;
    }
  }
  @media (prefers-color-scheme: dark) {
    .popover-button{
      color: rgb(243, 243, 243);
    }
    .popover-content {
      background-color: rgb(30,30,30);
      border: 1px solid rgb(63, 63, 63);
    }
  }