@font-face {
    font-family: 'Outfit Thin';
    src: url('/Outfit-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
font-family: 'Outfit SemiBold';
src: url('/Outfit-SemiBold.ttf');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Outfit Regular';
src: url('/Outfit-Regular.ttf');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'Outfit Medium';
src: url('/Outfit-Medium.ttf');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'Outfit Light';
src: url('/Outfit-Light.ttf');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'Outfit ExtraLight';
src: url('/Outfit-ExtraLight.ttf');
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'Outfit ExtraBold';
src: url('/Outfit-ExtraBold.ttf');
font-weight: 800;
font-style: normal;
}

@font-face {
font-family: 'Outfit Bold';
src: url('/Outfit-Bold.ttf');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Outfit Black';
src: url('/Outfit-Black.ttf');
font-weight: 900;
font-style: normal;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    gap: 2em;
}

.landingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.rightLandingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;
}

.leftLandingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 30%;
  height: 100%;
  padding: 1%;
}

.signupButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 10em;
    height: 4em;
    min-height: 3em;
}

.landingImage {
    height: auto;
    width: 100%;
}

.bold-word {
    font-family: 'Outfit Medium';
}

h1 {
    font-size: 3.2em;
}

p {
    font-size: 1.5em;
    margin-top: -5%;
}

@media screen and (max-width: 800px){
  .landingContainer {
    flex-direction: column;
    min-height: 30vh;
    height: 80vh;
  }

  h1 {
    font-size: 7vw;
  }
  .leftLandingContainer p{
    font-size: 5vw;
  }

  .leftLandingContainer {
    width: 80%;
    height: auto;
    padding: 0%;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .rightLandingContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landingImage {
    width: 80%;
    height: auto;
  }
  .landingContainer{
    padding-top: 1em;
    justify-content: flex-start;
  }
}
@media (prefers-color-scheme: dark) {
  .landingImage {
    filter: invert(0.905);
  }
}