.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.6em;
}
.circle p{
    margin: 0%;
    color: white;
}