.generatorButton{
    background-color: #328f2b;
    border-radius: 0.7em;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5em;
    width: 95%;
    height: 2em;
    font-family: 'Outfit Medium';
}