.searchBar {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.searchInput {
    width: 90%;
    height: 100%;
    font-family: 'Outfit Regular';
    font-size: 1.5em;
    border-radius: 1em;
    padding-left: 1em;
}