.searchBar {
    width: 90%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
    padding-left: 0.8em;
    font-size: 1.5em;
    border-radius: 0.7em;
    border: solid 1.1px rgba(82, 82, 82, 0.729);
}

.searchInput {
    width: 85%;
    height: 95%;
    font-family: 'Outfit Regular';
    font-size: 1em;
    padding-left: 0.5em;
    border: 0px;
}
.searchInput:focus {
    outline: none;
}
.searchIcon{
    color: rgba(82, 82, 82, 0.729);
}
@media screen and (max-width: 1080px){
    .searchBar{
        height: 1.4em;
        border-radius: 0.5em;
        width: 90%;
        border: solid 1px rgba(82, 82, 82, 0.729);
        overflow: hidden;
    }
    .searchInput{
        width: 80%;
        font-size: 0.6em;
    }
    .searchIcon{
        width: 0.5em;
    }
}
@media (prefers-color-scheme: dark) {
    .searchBar{
        border: solid 1px rgba(243, 243, 243, 0.729);
    }
    .searchInput{
        background-color: #181818;
        color: rgb(243, 243, 243);
    }
    .searchIcon{
        color: rgb(243, 243, 243);
    }
}