.requests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: auto;
}

.requests-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: auto
}

.titleContainer h1{
    font-family: 'Outfit Medium';
    font-size: 3em;
    text-align: left;
    width: 82%;
}

.titleContainer{
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 5%;
}
.requestsContainer{
    font-family: 'Outfit Medium';
    color: black;
    font-size: 1.5em;
    width: 92%;
    text-align: left;
}
.requestsContainer h2 {
    margin-top: 0em;
    margin-bottom: 0.3em;
}
.greyLine {
    width: 100%;
    height: 0.08em;
    background-color: rgb(211, 211, 211);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.reqs-grid-1 {
    display: grid;
    grid-template-columns: 7fr 5fr 2fr 2fr;
    width: 100%;
    margin-bottom: 1em;
}
.reqs-grid-2 {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 2fr 2fr;
    width: 100%;
    margin-bottom: 1em;
}
.reqs-grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
    color: rgb(156, 156, 156)
}
.req-accept{
    background-color: rgb(21, 119, 235);
    width: 98%;
    height: 100%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: white;
}
.req-reject{
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: white;
}

@media screen and (max-width: 1080px){
    .requests-body {
        width: 80vw;
    }
    .reqs-grid-item {
        font-size: 0.7em;
    }
}