.new-org-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.new-org-content h1{
    font-family: 'Outfit Medium';
}

.new-org-form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.new-org-form label {
    font-family: 'Outfit Regular';
    font-size: 1.3em;
    color: rgb(74, 74, 74);
}

.new-org-input {
    font-family: 'Outfit Light';
    font-size: 1.3em;
    border-radius: 0.5em;
    border: solid 1.5px rgba(82, 82, 82, 0.729);
    height: 1.8em;
    padding-left: 0.5em;
}

#orgDescription {
    height: 6em;
    resize: none;
    padding:0.3em;
}

.new-org-input:focus {
    outline: none;
}

.orgSearch-frame{
    display: flex;
    flex-direction: column;
    height: auto;
    border: solid 1.5px rgba(82, 82, 82, 0.729);
    border-radius: 0.5em;
    overflow: hidden;
}
.org-searchResult {
    width: 92%;
    font-family: 'Outfit Light';
    font-size: 1.1em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.org-searchEntry {
    width: 100%;
    font-family: 'Outfit Regular';
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
}
#greyHeader{
    background-color: rgb(240, 240, 240);
}
#bold {
    font-family: 'Outfit Medium';
}
.submit-button{
    background-color: rgb(21, 119, 235);
    /* background: linear-gradient(0deg, rgb(3, 196, 254), rgb(28, 123, 255),rgb(3, 196, 254)); */
    color: white;
    font-family: 'Outfit Light';
    width: 100%;
    height: 2.5em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.submit-button:disabled{
    background-color: rgba(21, 117, 235, 0.657);
    color: white;
    font-family: 'Outfit Light';
    width: 100%;
    height: 2.5em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.red:disabled{
    background-color: rgba(214, 58, 58, 0.657);
    color: white;
    font-family: 'Outfit Light';
    width: 100%;
    height: 2.5em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.final-button{
    background-color: white;
    color: black;
    font-family: 'Outfit Regular';
    width: 100%;
    height: 2em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

}
#delete {
    color: rgb(214, 58, 58)
}
.space{
    height: 4em;
}
#option {
    font-family: 'Outfit Regular';
    font-size: 1em;
}

@media screen and (max-width: 1080px){
    .new-org-form{
        width: 85%;
    }
    .new-org-content{
        justify-content: flex-start;
        min-height: 0vh;
        height: auto;
    }
    .new-org-content h1{
        margin-top: 2em;
    }
    label.orgName{
        font-size: 1em;
    }
    label.orgDescription{
        font-size: 1em;
    }
    label.orgSearch{
        font-size: 1em;
    }
    label.orgPrefix{
        font-size: 1em;
    }
    label.orgLocation{
        font-size: 1em;
    }
    label.category{
        font-size: 1em;
    }
    label.type{
        font-size: 1em;
    }
    label.prefix{
        font-size: 1em;
    }
    label.measure{
        font-size: 1em;
    }
    label.brand{
        font-size: 1em;
    }
    label.model{
        font-size: 1em;
    }
    #orgName{
        font-size: 1em;
    }
    #orgDescription{
        font-size: 1em;
    }
    label.orgType{
        font-size: 1em;
    }
    label.orgUnits{
        font-size: 1em;
    }
    label.orgModel{
        font-size: 1em;
    }
    label.orgBrand{
        font-size: 1em;
    }
    /* #small-font{
        font-size: 0.7em;
    } */
    input.new-org-input{
        font-size: 1em;
    }
    select.new-org-input{
        font-size: 1em;
    }
    select option{
        font-size: 0.8em;
        padding: 0em;
    }
}