.adminContainer h2{
    margin: 0%;
    margin-top: 0.5em;
    font-size: 1.3em;
}

.adminContainer h3{
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-family: 'Outfit Light';
}

.administration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.administrationContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 150vh;
    height: auto;
}
.adminContainer{
    font-family: 'Outfit Regular';
    color: black;
    font-size: 1.5em;
    width: 92%;
    text-align: left;
}
.admin-grid {
    display: grid;
    grid-template-columns: 6fr 6fr 1fr;
    width: 100%;
    margin-bottom: 1em;
}
#triple-column{
    grid-template-columns: 2fr 2fr 2fr 2fr 0.5fr;
}
#small-font{
    font-size: 0.7em;
    color:black;
    font-family: 'Outfit Regular';
}
#red-small-font{
    font-size: 0.9em;
    color: rgb(214, 58, 58);
    font-family: 'Outfit Regular';
}
#green-small-font{
    font-size: 0.9em;
    color: rgb(32, 131, 37);
    font-family: 'Outfit Regular';
}
.admin-grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    color: rgb(156, 156, 156)
}
.admin-grid-item {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 0.1em
}
.admin-grid-item a {
    font-size: 1em;
    font-family: 'Outfit Medium';
}
@media screen and (max-width: 1080px){
    .administrationContent {
        min-width: 10vw;
        width: 90%;
    }
    .admin-grid-header{
        font-size: 0.4em;
    }
    .admin-grid-item {
        font-size: 0.5em;
        padding: 0.2em;
    }
    .admin-grid #small-font{
        font-size: 0.3em;
    }
    .administrationContent h3{
        font-size: 0.7em;
    }
    .administrationContent h2{
        font-size: 1em;
    }
}
@media (prefers-color-scheme: dark) {
    #small-font{
        color: rgb(243, 243, 243);
    }
    .adminContainer{
        color: rgb(243, 243, 243);
    }
}