.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow: auto;
}
.dashboardContent {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 80vh;
    height: auto
}

.dash-titleContainer h1{
    font-family: 'Outfit Medium';
    font-size: 3em;
    text-align: left;
    width: 82%;
}

.dash-titleContainer{
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 5%;
}

.plusButton {
    background-color: rgb(21, 119, 235);
    width: 6em;
    height:100%;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusButton:active {
    background-color: rgb(49, 133, 235);
}

.plusButton a {
    font-family: 'Outfit ExtraLight';
    color: white;
    font-size: 3em;
    text-decoration: none;
}
.orgsContainer{
    font-family: 'Outfit Regular';
    color: black;
    font-size: 1.5em;
    width: 92%;
    text-align: left;
}
.orgsContainer h2 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}
.greyLine {
    width: 100%;
    height: 0.08em;
    background-color: rgb(211, 211, 211);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.orgs-grid {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr;
    width: 100%;
    margin-bottom: 1em;
}
.orgs-grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
    color: rgb(156, 156, 156)
}
.orgs-grid-item a {
    font-size: 1.1em;
    font-family: 'Outfit Regular';
}
#options-item{
    text-align: right;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 3em;
    font-family: 'Outfit Medium';
}
@media screen and (max-width: 1080px){
    .dashboard{
        width: 100vw;
    }
    .dashboardContent {
        width: 80%;
        min-width: 0px;
    }
    .orgsContainer{
        font-size: 1em;
    }
    .orgs-grid-header{
        font-size: 0.6em;
    }
    .orgsContainer h2 {
        font-size: 1.2em;
    }
    .dash-titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding-left: 0em;
        margin-bottom: 1em;
    }
    .dash-titleContainer h1{
        font-family: 'Outfit Medium';
        font-size: 2em;
        text-align: center;
        width: 100%;
    }
    .plusButton {
        background-color: rgb(21, 119, 235);
        width: 100%;
        height: 2.5em;
        border-radius: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plusButton a{
        font-size: 3em;
    }
}