.footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 12%;
}

.footerItem a {
    color: rgb(168, 168, 168);
    font-size: 1.2em;
    text-align: center;
}
@media screen and (max-width: 1080px){
    .footer {
        height: 25vh;
        gap: 0em;
        flex-direction: column;
    }
    .footerItem{
        width: 100%;
        height: 20%;
        justify-content: center;
    }
}