.organization {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.organizationContent{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vh;
    height: auto;
    min-height: 75vh;
}

.depsContainer{
    font-family: 'Outfit Regular';
    color: black;
    font-size: 1.5em;
    width: 92%;
    text-align: left;
}

.depsContainer h3
{
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-family: 'Outfit Light';
}
.deps-grid {
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 1fr;
    width: 100%;
    margin-bottom: 1em;
}
.deps-grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
    color: rgb(156, 156, 156)
}
.deps-grid-item a {
    font-size: 1.1em;
    font-family: 'Outfit Regular';
}
#circle-grid{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2em;
}
@media screen and (max-width: 1080px){
    .organizationContent {
        min-width: 10vw;
        width: 90%;
    }
    .depsContainer{
        font-size: 1em;
    }
    .depsContainer h2{
        margin-top: 0%;
        margin-bottom: 0.3em;
        font-size: 1.2em;
    }
    .deps-grid {
        grid-template-columns: 4fr 3fr 2fr 1fr;
        width: 100%;
        margin-bottom: 1em;
    }
    .deps-grid-header{
        font-size: 0.6em;
    }
    .deps-grid-item a {
        font-size: 0.9em;
    }
    .deps-grid-item {
        font-size: 0.8em;
    }
    #circle-grid{
        gap: 0.1em;
    }
}