.proyects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow: auto;
}
.entry{
    display: flex;
    height: auto;
    width: 100%;
    gap: 0.3em;
}
.proyects-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vh;
    height: auto
}
.titleContainer{
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 5%;
}
.proyectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 5em;
    height: auto;
    border: solid 2px rgb(82, 82, 82);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 0.2em;
    max-height: 0;
    transition: max-height 1.5s ease-in-out;
}
.proyectsContainer.open{
    max-height: 10000em;
    transition: max-height 1.5s ease-in-out;
}
#big-font {
    font-family: 'Outfit Medium';
    font-size: 1.8em;
    justify-content: flex-start;
    padding-left: 1em;
}
.proyectInfo{
    width: 100%;
    height: 5em;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.proyectInfo p{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
}
.subproyects-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 4fr;
    width: 100%;
    margin-bottom: 0em;
    cursor: pointer;
}
.subproyects-grid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Outfit Medium';
    transition: background-color 0.1s ease-in-out;
}
.subproyects-grid-header:active{
    background-color: rgb(211, 211, 211);
}
.subproyects-grid-item {
    font-size: 1.4em;
    font-family: 'Outfit Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    height: auto;
    color: black;
}
.proyectInfo .little-circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
.subproyects-grid-item .little-circle {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
@media screen and (max-width: 1080px){
    .entry {
        gap: 0.5em;
    }
    .proyects-body {
        width: 80vw;
    }
    .proyectInfo{
        height: 5em;
        grid-template-columns: 3fr 2fr 2fr;
    }
    .proyectInfo p {
        font-size: 1em;
    }
    #big-font {
        font-size: 1.5em;
        padding-left: 0.5em;
    }
    .subproyects-grid-item {
        font-size: 1.1em;
    }
}