.proyects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow: auto;
}
.entry{
    display: flex;
    height: auto;
    width: 100%;
    gap: 0.3em;
}
.proyects-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65vw;
    height: auto
}
.proyects-body h2{
    font-family: 'Outfit Medium';
    font-size: 2.5em;
    color: black;
    width: 90%;
    margin-bottom: 0.3em;
}
.proyects-body h3{
    font-family: 'Outfit Light';
    font-size: 1.5em;
    color: black;
    width: 90%;
    margin-top: 0em;
    margin-bottom: 0em;
}
.proyectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 7em;
    height: auto;
    border: solid 1.5px rgb(82, 82, 82);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 0.2em;
    max-height: 0;
    transition: max-height 1.5s ease-in-out;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.proyectsContainer.open{
    max-height: 10000em;
    transition: max-height 1.5s ease-in-out;
}
#big-font {
    font-family: 'Outfit Medium';
    font-size: 1.8em;
    justify-content: flex-start;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
}
.proyectInfo{
    width: 100%;
    height: 7em;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.proyectInfo p{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
    font-size: 1.2em;
}
.subproyects-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 4fr 4fr 4fr 4fr;
    width: 100%;
    margin-bottom: 0em;
    cursor: pointer;
}
.subproyects-grid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Outfit Medium';
    transition: background-color 0.1s ease-in-out;
}
.subproyects-grid-header:active{
    background-color: rgb(211, 211, 211);
}
.subproyects-grid-item {
    font-size: 1.1em;
    font-family: 'Outfit Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    height: auto;
    color: black;
}
.subproyects-grid-item a {
    font-size: 1.2em;
    font-family: 'Outfit Medium';
}
.proyectInfo .little-circle {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
.subproyects-grid-item .little-circle {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
#balance-positive {
    color:green;
}
#balance-negative {
    color:red;
}
.tool-bar select {
    display: flex;
    text-align: center;
}
.tool-bar-button option {
    font-family: 'Outfit Light';
    font-size: 1em;
}
@media screen and (max-width: 1080px){
    .entry {
        gap: 0.5em;
    }
    .proyects-body {
        width: 90vw;
    }
    .proyectInfo{
        height: 3em;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
    }
    .proyectInfo p {
        font-size: 0.5em;
    }
    .proyects-body h2{
        font-size: 1.5em;
    }
    .proyects-body h3{
        font-size: 1em;
    }
    .categoryInfo #big-font {
        font-size: 1em;
        padding-left: 1em;
    }
    .proyectInfo #big-font {
        font-size: 0.6em;
        padding-left: 1em;
    }
    .subproyects-grid-header {
        font-size: 0.3em;
    }
    .subproyects-grid-item {
        font-size: 0.4em;
    }
    .proyectsContainer {
        border-radius: 0.5em;
        min-height: 3em;
    }
    .orgDownBar{
        width: 100%;
    }
    .submit-button#edit-button {
        width: 35%;
        font-size: 0.6em;
    }
    .proyects .tool-bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .proyects .tool-bar-button{
        height: 2.5em;
        font-size: 0.4em;
        width: auto;
        margin-top: 1em;
    }
}
@media (prefers-color-scheme: dark) {
    .proyects-body h2{
        color: rgb(243, 243, 243);
    }
    .proyects-body h3{
        color: rgb(243, 243, 243);
    }
    .proyectsContainer{
        border: solid 1.5px rgb(63, 63, 63);
        background-color: rgb(30,30,30);
    }
    .proyectInfo p{
        background-color: rgb(30,30,30);
    }
    .subproyects-grid-header{
        color: rgb(243, 243, 243);
    }
    .subproyects-grid-item {
        color: rgb(243, 243, 243);
    }
    .proyectInfo .little-circle {
        background-color: rgb(243, 243, 243);
    }
    .subproyects-grid-item .little-circle {
        background-color: rgb(243, 243, 243);
    }
    .entry {
        color: rgb(243, 243, 243);
    }
    .proyects-body {
        color: rgb(243, 243, 243);
    }
    .proyects-body h2{
        color: rgb(243, 243, 243);
    }
    .proyects-body h3{
        color: rgb(243, 243, 243);
    }
    .categoryInfo #big-font {
        color: rgb(243, 243, 243);
    }
    .proyectInfo #big-font {
        color: rgb(243, 243, 243);
    }
    .subproyects-grid-header {
        color: rgb(243, 243, 243);
    }
    .subproyects-grid-item {
        color: rgb(243, 243, 243);
    }
    .proyectsContainer {
        border: solid 1.5px rgb(63, 63, 63);
        background-color: rgb(30,30,30);
    }
    .proyectInfo p {
        background-color: rgb(16,16,16);
    }
    .subproyects-grid-header {
        color: rgb(243, 243, 243);
    }
    .subproyects-grid-item {
        color: rgb(243, 243, 243);
    }
}