.orgDownBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#edit-button {
    width: 11.5em;
}
.product2-entry{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    gap: 0em;
}
.products2Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 3em;
    height: auto;
    border: solid 1px rgba(82, 82, 82, 0.633);
    border-radius: 0.7em;
    overflow:hidden;
    margin-bottom: 0.2em;
    max-height: 0;
    transition: max-height 1.5s ease-in-out;
}
.products2Container.open{
    max-height: 10000em;
    transition: max-height 1.5s ease-in-out;
}
.product2Info{
    width: 100%;
    height: 3em;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product2Info p{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
}
.product2Info .little-circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
.subproyects-grid-item .little-circle {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 0.5em;
}
.products2-grid {
    display: grid;
    grid-template-columns: 7fr 7fr 6fr 2fr;
    width: 100%;
    margin-bottom: 0em;
    cursor: pointer;
}
.products2-grid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Outfit Medium';
    transition: background-color 0.1s ease-in-out;
}
.products2-grid-header:active{
    background-color: rgb(211, 211, 211);
}
.products2-grid-item {
    font-size: 1.4em;
    font-family: 'Outfit Light';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    height: auto;
    color: black;
    background-color: white;
}
.new-org-content h2 {
    font-family: 'Outfit Medium';
    font-size: 2em;
    margin-bottom: 0em;
    width: 38%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(193, 193, 193);
}
.new-org-content h3{
    font-family: 'Outfit Medium';
    font-size: 1.2em;
    margin-bottom: 0.5em;
    width: 38%;
    display: flex;
    justify-content: flex-start;
}
.filling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3%;
}
.unit-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-left: 0.7em;
}
.main-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
}
.product2-options{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}
.product2-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: rgb(21, 119, 235);
    color: white;
    font-family: 'Outfit Light';
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
.product2-button:disabled{
    background-color: rgb(211, 211, 211);
    color: rgb(82, 82, 82);
    cursor: default;
}

#red{
    background-color: rgb(214, 58, 58);
}
#yellow{
    background-color: rgb(255, 208, 0);
}
.product2-lock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    background-color: rgb(245, 245, 245);
}
@media screen and (max-width: 1580px){
    .product2-entry{
        width: 80%;
    }
    .product2-options{
        flex-direction: column;
        gap: 1em;
    }
    .product2-button{
        width: 100%;
    }
    .products2Container{
        width: 100%;
    }
    .products2Container.open{
        max-height: 10000em;
        transition: max-height 1.5s ease-in-out;
    }
    .product2Info{
        grid-template-columns: 3fr 3fr 3fr 1fr;
    }
    .product2Info p{
        font-size: 0.8em;
    }
    p .little-circle {
        width: 3em;
        height: 3em;
    }
    .products2-grid-header {
        font-size: 0.8em;
    }
    .products2-grid-item {
        font-size: 0.8em;
    }
    .product2-lock{
        font-size: 0.8em;
    }
    .product2-button{
        font-size: 0.8em;
    }
    .product2-entry{
        gap: 0.5em;
    }
    .product2-options{
        gap: 0.5em;
    }
    .product2-button{
        height: 2em;
    }
    .product2Info{
        height: 2em;
    }
    .products2Container{
        min-height: 2em;
    }
    .product2Info p{
        font-size: 1em;
    }
    .product2-lock{
        height: 100%;
        width: 100%;
    }
    .product2-button{
        font-size: 0.8em;
    }
    .product2-entry{
        gap: 0.5em
    }
    .new-org-content h2 {
        width: 78%;
    }
    .new-org-content h3{
        width: 78%;
    }
}